@font-face {
  font-family: 'Helvetica Bold';
  src: local('Helvetica Bold'), url(./font/Helvetica-Bold-Font.ttf) format('opentype');
}

@font-face {
  font-family: 'Helvetica Light';
  src: local('Helvetica Light'), url(./font/Helvetica-Light.ttf) format('opentype');
}

.App-header {
  font-family: Helvetica Bold;
  text-align: center;
  font-size: calc(100px + 5vmin);
  color: rgb(250, 143, 50);
}