:root{
  font-family: 'Raleway';
  scroll-behavior: smooth;
  --purple: #7c3aed;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url('images/1st-section.jpeg');
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  text-transform: uppercase;
  /* background: linear-gradient(155deg, rgba(59,11,90,1) 20%, rgba(117,30,175,1) 48%, rgba(86,4,139,1) 76%); */
}

.main{
  display: none;
  opacity : 0;
  transition: opacity ease-in-out 700ms;
}

body {
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100vh; */
  /* background-color: rgb(55,5,88); */
  /* background: linear-gradient(167deg, rgba(55,5,88,1) 20%, rgba(117,30,175,1) 48%, rgba(86,4,139,1) 76%); */
  margin: 0px;
}
